/* My Awesome CSS */

body {
    background-color: pink;
    font-family: 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

header, footer{
    background-color: coral;
}

.site-title {
    color: white;
}

#my-image {
    box-shadow: 0px 0px 2px 1px black;
}

nav {
    background-color: cornflowerblue; border: 5px;
}

a:link {
    text-decoration:none
}

a:hover {
    background-color: chartreuse;
}

